</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="py-10">
        <div class="container mx-auto">
          <form class="rounded-lg bg-white p-10 shadow-lg" method="post">
            <div class="mb-4 flex items-center">
              <input type="text" class="w-full rounded-lg border border-gray-400 p-2" placeholder="qr link" name="gen" />
              <button class="ml-2 rounded-lg bg-blue-500 p-2 text-white hover:bg-blue-600">generate</button>
            </div>
          </form>
          <div class="genrated">
            <img src="{{data}}">
          </div>
        </div>
      </main>
</body>
</html>